.header-box{
  height: 50px;
  background-color:#2daaeb ;
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.header-logo{
  height: 40px;
  width: 500px;
  margin-left: 50px;
}
.header-image{
  width: 400px;
  height: 38px;
}
.header-menu{
  height: 40px;
  width: 300px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-box{
  height: 50px;
  width: 100%;
}
.main-resipi{
  height: 500px;
  width: 350px;
  background-color: blue;
}
.main-resipi1{
  position: relative;
  top: 0;
  left: 350px;
  background-color: rgb(244, 100, 179);
  height: 500px;
  width: 100%;

}
