.header-box{
  height: 50px;
  background-color:#2daaeb ;
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.header-logo{
  height: 40px;
  width: 500px;
  margin-left: 50px;
}
.header-image{
  width: 400px;
  height: 38px;
}
.header-menu{
  height: 40px;
  width: 300px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-box{
  width: 100%;
}
.main-photo{
  width: 100%;
  height: 800px;
}
.main-image{
  width: 100%;
  height: 800px;

}
.main-resipi{
  width: 95%;
  margin: 0 auto;
  display: flex;
}
.main-resipi-menu{
  width: 20%;
  background-color: pink;
}
.main-resipi-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
}
.main-resipi-item:not(:first-child){
  margin-top: 20px;
}
.main-resipi-navi{
  height: 400px;
  width: 80%;
  background-color: orange;
}
.main-new-item1{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
}
.main-new-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
  
  


