.header-box{
  height: 50px;
  background-color:#2daaeb ;
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.header-logo{
  height: 40px;
  width: 500px;
  margin-left: 50px;
}
.header-image{
  width: 400px;
  height: 38px;
}
.header-menu{
  height: 40px;
  width: 300px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-box{
  width: 100%;
}
.main-photo{
  width: 100%;
  height: 800px;
}
.main-image{
  width: 100%;
  height: 800px;

}
.main-resipi{
  width: 95%;
  margin: 0 auto;
  display: flex;
}
.main-resipi-menu{
  width: 20%;
}
.main-resipi-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  margin-top: 50px;
  /* background-color: red; */
}
.main-resipi-item{
  height: 50px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-resipi-item:not(:first-child){
  margin-top: 20px;
}
.main-resipi-item-border{
  border: solid 1px gray;
  border-radius: 50px;
} 
.main-resipi-link{
  text-decoration: underline;
  color: rgb(98, 98, 98);
  
} 
.main-resipi-navi{
  height: 400px;
  width: 80%;
}
.main-new-title{
  text-align: center;
  margin: 50px 0;
  font-size: 36px;
  font-family: "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: bold;
  color: rgb(75, 84, 91);
}
.main-new-list{
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: space-between;
  height: 100px;
}
.main-new-item{
  border-radius: 10px;
  border: solid 1px gray;
  width: 269px;
  height: 250px;
  position: relative;
} 
.main-new-image{
  width: 269px;
}

.main-new-sbtitle{
  margin: 20px;
}
.main-new-time{
  width: 50px;
  position: absolute;
  top: 3px;
  left: 214px;
}
.sab-box{
  width: 95%;
  margin: 0 auto;
  display: flex;
}
.sab-box-news{
  /* top: 10px; */
  /* left: 10px; */
  width: 20%;
}
.sab-box-new{
  width: 80%;
  background-color: darkmagenta;
}
.sab-news-title{
  text-align: center;
  margin: 50px 0;
  font-size: 36px;
  font-family: "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: bold;
  color: rgb(75, 84, 91);
  background-color: aqua;
}
.sab-news-list{
  background-color: aqua;
}
.sab-news-list-ana{
  display: flex;
  margin-top: 30px;
}
.sab-news-day{
  margin-left: 20px;
}
.sab-news-type{
  margin-left: 10px;
}
.sab-news-text{
  margin-left:20px;
}

